<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>
<body>

  <h1>Weather App</h1>

  <form action = "/weather" method = "POST">
    <input
      type="text"
      name="city"
      placeholder="Enter a city..."
      required
    >
    <button type ="submit">Search</button>
  </form>
  {% if error %}
    <p class="error">{{error}}</p>
  {% endif %}
  
  {% if weather %}
    <div class="weather-card">
      <h2>{{weather.city}}, {{weather.country}}</h2>
      <img
          src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" 
          alt="{{ weather.description }}"
      >
      <p class="temperature">{{weather.temperature}}°C</p>
      <p class="description">{{ weather.description }}</p>
      <p>Feels like {{ weather.feels_like }}°C</p>
      <p>Humidity: {{ weather.humidity }}%</p>
    </div>
  {% endif %}

</body>
</html>
